<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="css/main.structure.css" rel="stylesheet">
  <title>Food Post</title>
</head>

<body>
  {{{body}}}

<script>

var mySlideShow = new SlideShow('projectSlides');
    mySlideShow.container.label = $(".cover-subtitle");
    mySlideShow.container.image = $(".cover-img.cover-img__a");
    mySlideShow.container.background = $(".cover-img.cover-img__b");

  // Set Slides.
  mySlideShow.setSlides([{name: 'First Slide', image: 'https://unsplash.it/1800/1600/?random'},
                         {name: 'Second Slide', image: 'https://unsplash.it/1800/1200/?random'},
                         {name: 'Third Slide', image: 'https://unsplash.it/1800/1500/?random'},
                         {name: 'Fouth Slide', image: 'https://unsplash.it/1800/1400/?random'}
						            ]);

  // Display first slide.
  mySlideShow.displaySlide();

  // Loop slides.
  var showInterval = setInterval("mySlideShow.advanceSlide()", 3000);

/*
// Layout
function adjustCoverImage() {
  var width = $(".cover").width();
  var height = width * 0.50;
  $(".cover").height(height+'px');
}

$(window).resize(function() { 
  adjustCoverImage();
});

$(document).ready(function() { 
  adjustCoverImage();
});*/

</script>
</body><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>
