
<div class="wrapper">
  <div class="text-wrapper">
    <div class="cover-body">
      <div class="cover-body-inner">
        <div class="cover-title"> <a href="#" class="link-item title">NOSlideShow.js</a> </div>
        <div class="cover-description">
          <p>A Background Slideshow Plugin</p>
          <p class="cover-subtitle"></p>
        </div>
        <div class="cover-actions"> </div>
      </div>
    </div>
  </div>
  <div class="cover-img cover-img__b"></div>
  <div class="cover-img cover-img__a"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
<script src="/js/NOSlideShow.js"></script>

<!--
<div id="home">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Food Post</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

       
      </div>
    </div>
  </div>
  -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
