
<style>
    body {
        margin-top: 75px;
        text-align: center;
        font-size: 24px;
        font-weight:800;
        color: rgb(72, 72, 72) !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    }

    .btn-align {
        display:flex;
        justify-content: center;
        margin-top:30px;
    }
</style>


<body>
    {{!-- Linking he style sheet --}}
    <link href="styles/styles.css" rel="stylesheet">
    <div class="newListingForm">
        <form class="offset-lg-4 offset-md-3 offset-sm-3 offset-xs-3 col-lg-4 col-md-6 col-sm-6 col-xs-6" style="text-align: left;">
            <div class="form-group">
                <label>Food Name:</label>
                <input class="form-control" id="food_name" placeholder="Food Name" type="text">
            </div>
            <div class="form-group">
                <label>Food Type:</label>
                <select class="form-control" id="food_type">
                    <option value="" disabled selected hidden>Please Choose...</option>
                     <option>Asian</option>
                    <option>Italian</option>
                    <option>Chinese</option>
                    <option>French</option>
                    <option>American</option>
                    <option>Indian</option>
                    <option>Mexican</option>
                    <option>Spanish</option>
                    <option>Thai</option>
                    <option>Japanese</option>
                    <option>Vietnamese</option>
                    <option>German</option>
                    <option>Greek</option>
                    <option>Korean</option>
                    <option>Indonesian</option>
                    <option>Fillipino</option>
                    <option>Portuguese</option>
                    <option>Mediterranean</option>
                    <option>Irish</option>
                    <option>Russian</option>
                    <option>Polish</option>
                    <option>Brazilian</option>
                    <option>Jamican</option>
                </select>
            </div>
            <div class="form-group">
                <label>Food Description:</label>
                <textarea class="form-control" id="food_description" placeholder="Food Description" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label>Delivery Location:</label>
                <input class="form-control" id="delivery_location" placeholder="Delivery Location"></textarea>
            </div>

            {{!-- <div class="form-group">
                <label>Food Image: </label>
                <input type="file" class="form-control-file" id="form-image">
             </div> --}}

            <div class="form-group">
                <div class="form-inline">
                    <label>Price($) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input class="form-control" id="price" placeholder="00.00" style="width: 280px;" type="text">
                </div>
            </div>
            <div class="form-group mb-1">
                <div class="form-inline">
                    <label>Delivery :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <select class="form-control" style="width: 280px;" id="delivery">
                        <option value="" disabled selected hidden>Please Select...</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="btn-align">
            <button class="button btn-site" id="createNewListing">submit</button>
            </div>
            <div id="warningAllFieldsRequired">
                <p>* All fields are mandatory</p>
            </div>
            <div id="priceDataType">
                <p>* Incorrect price format. Correct format is 00.00 </p>
            </div>
        </form>
    </div>



<!-- Java script -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var url = window.location.href.toString();
    var fileName = url.split('newListing/:').pop();
    
    function captureNewListing(event) {
        event.preventDefault();

        var food_name = $("#food_name").val().trim();
        var food_type = $("#food_type").val().trim();
        var description = $("#food_description").val().trim();
        var price = parseFloat($("#price").val().trim());
        var delivery = $("#delivery").val().trim();
        var delivery_location = $("#delivery_location").val().trim();

        if (food_name == "" ||
            food_type == "" ||
            description == "" ||
            delivery_location == "" ||
            price == "") {
            $("#warningAllFieldsRequired").show();
        } else if (isNaN(price)) {
            $("#warningAllFieldsRequired").hide();
            $("#priceDataType").show();
        } else {
            var newListing = {
                food_name: food_name,
                food_type: food_type,
                description: description,
                price: price,
                serving_location: delivery_location, // Should retrive from user profile
                seller_id: '12', //Should be retrived from user profile
                delivery: delivery === 'No' ? false : true,
                url: "https://s3.amazonaws.com/usersfoods/user-uploaded-food-images/" + fileName //
            }
            // $.post('/newListing', newListing).then(console.log).catch(console.error);
            $.post('/newListing', newListing).then(function(data) {
                window.location.href = '/userOptions';
            }).catch(console.error);


        }
    }
    $("form").on("submit", captureNewListing);
</script>



