<style>
    div {
        display:flex;
        justify-content: center;
    }

    div p {
        padding:20px 5px;
        color:red;
        font-weight:600;
    }

    .button-ctn {
        display: flex;
        justify-content: center;
        margin:30px 5px;
    }

    input {
        height:40px;
        padding:0 5px;
        border-radius: 10px;
    }

    .signUp {
        width:50%;
    }

    .form-ctn {
        margin:10px 5px;
        display:flex;
        flex-direction: column;
    }

    h3 {
        margin-bottom:5px;
        padding-top:15px;
    }

</style>

<header>
    <a href="/">Return Home</a>
</header>
<div class="container-fluid">

    <form class="signUp">
        {{!-- action="POST" --}}
        <h1>New User Sign Up</h1>

        <div class="form-ctn">
            <h3>Username</h3>
            <input type="text" id="username" placeholder="username">
        </div>

        <div class="form-ctn">
            <h3>Password</h3>
            <input type="password" id="password" placeholder="password">
        </div>

        <div class="form-ctn">
            <h3>First Name</h3>
            <input type="text" placeholder="first name" id="first_name">
        </div>

        <div class="form-ctn">
            <h3>Last Name</h3>
            <input type="text" placeholder="last name" id="last_name">
        </div>

        <div class="form-ctn">
            <h3>Email</h3>
            <input type="text" placeholder="email address" id="email">
        </div>
        <div class="form-ctn">
            <h3>Address</h3>
            <input type="text" placeholder="street address" id="address">
        </div>
        <div class="form-ctn">
            <h3>City</h3>
            <input type="text" placeholder="city" id="city">
        </div>
        <div class="form-ctn">
            <h3>State</h3>
            <input type="text" placeholder="state" id="state">
        </div>
        <div class="form-ctn">
            <h3>Zip</h3>
            <input type="text" placeholder="zip code" id="zip">
        </div>

        <div class="button-ctn">
            <button type="submit" id="createNewUser" class="button btn-site">Create New User</button>
        </div>

        <div id="warningAllFieldsRequiredUser">
            <p>* All fields are mandatory</p>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    function redirectUser(){
      window.location.href="/userOptions";
    }

    function captureNewUser(event) {
        event.preventDefault()

        console.log("success")
                //{{!-- var food_name = $("#food_name").val().trim();
        //var food_type = $("#food_type").val().trim();
        //var description = $("#food_description").val().trim();
        //var price = parseFloat($("#price").val().trim());
        //var delivery = $("#delivery").val().trim(); --}}

        var username = $("#username").val().trim();
        var password =  $("#password").val().trim();
        var first_name = $("#first_name").val().trim();
        var last_name = $("#last_name").val().trim();
        var email = $("#email").val().trim();
        var address = $("#address").val().trim();
        var city = $("#city").val().trim();
        var state = $("#state").val().trim();
        var zip = $("#zip").val().trim();

        if (username == "" ||
            password ==  "" ||
            first_name == "" ||
            last_name == "" ||
            email == "" ||
            address == "" ||
            city == "" ||
            state == "" ||
            zip == "") {
            $("#warningAllFieldsRequiredUser").show()
        } else {
            var newUser = {
                username: username,
                password: password,
                first_name: first_name,
                last_name: last_name,
                email: email,
                address: address,
                city: city,
                state: state,
                zip: zip
            }
                
            $.post('/newUser', newUser).then(console.log).catch(console.error);

            redirectUser();
        }

        console.log(newUser);


    };

    $("form").on("submit", captureNewUser);

</script>