<div class="container-full resultsPage">
    <div class="resultsCtn">
        <div class="infoCtn">
            <div class="infoImg">
                <img src="{{foodPost.img_Url}}">        
            </div>
            <div class="info">
                <p>Raman Noodles</p>
            </div>
        </div>
        <div class="infoCtn">

        </div>
    </div>
</div>