<style>
    .imagePanel{
        min-height: 340px;
        border: 1px solid black;
        margin-top: 30px;
    }

    .infoPanel{
        min-height: 340px;
        border: 1px solid black;
        padding-top: 40px;
        margin-top: 30px;
    }   
</style>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="panel panel-body col-lg-6 col-md-6 col-sm-6 imagePanel">
                    <img src="">
                </div>
                <div class="panel panel-body col-lg-6 col-md-6  col-sm-6 infoPanel">
                    <p> Food Name : <span id="food_name"></span></p>
                    <p> Food Type : <span id="food_type"></span></p>
                    <p> Price : <span id="price"></span></p>
                    <p> Seller Name : <span id="seller_name"></span></p>
                    <p> Seller Location : <span id="seller_location"></span></p>
                    <p> Delivery Available : <span id="Delivery"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- javascript -->

<script>
    $.get("/searchResults", function(data){
        {{!-- alert(data); --}}
        console.log("this is all the data"  +  data);
    });
</script>

<script>
    console.log("hello world");
</script>



