<style>
    #searchResultTitle{
        font-size: 40px;
        color: rgb(72, 72, 72) !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        line-height: 40px;
        margin-top: 150px;
        text-align: center;
        font-weight: bolder;
        padding: 30px;
    }
    .warning{
        margin-top: 10px;
        display: none;
        background-color:#ebebeb;
        opacity: 0.7;
        height:30px;
        padding:0 5px;
    }

    .warning p {
        height: 1px;
        font-size: 20px;
        color:red;
        font-weight:800;
        font-size:1.4vw;
        display:flex;
        justify-content: center;
    }


    .searchForm{
        margin-top: 180px;
        text-align: center;
    }
    
    .resultBoxImage{
        height: 300px;
        margin-top: 10px;
        overflow: hidden;
        border-radius:3%;

    }

    .resultBox{
  margin: 15px;
  margin-left: 60px; 
  border-radius: 2%;
  background-color: #ebebeb;
  padding-top: 25px;

}


    .resultBoxInfo{
        color: rgb(72, 72, 72) !important;
        padding: 10px 5px;
        font-size:20px;
        font-weight:800;
    }

    .resultImageStyle{
        height: 300px;
        width: 460px;
    }
   
    #price{
        color: rgb(72, 72, 72) !important;
        font-weight:800;
    }
    .moreInfo{
        margin-top: -35px;
    }

@media screen and (max-width:770px) {

  .resultBox {
    margin: 0 !important;
    margin-left: 0 !important;
    border-radius: 2%;
    background-color: #ebebeb;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
  }

  .row {
      display:flex;
      justify-content: center;
  }

}
  
</style>

<div "mainBody">
<div id="searchPanel">
    <header>
    <div class="headerOptions">
        <div class="register">
            <a href="/newUser"><button class="button btn-site">Register</button></a>        </div>
        <div class="logIn">
            <a href="/userOptions"><button class="button btn-site">Login</button></a>
        </div>
        <div class="logIn">
            <a href="/logout"><button class="button btn-site">Logout</button></a>
        </div>
    </div>
    </header>


	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Merriweather:700" rel="stylesheet">


    <div class="main offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3 col-lg-6 col-md-6 col-sm-6 col-xs-6 search-frm" style="text-align: left;">
        <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" placeholder = "Location" id="location" class="form-control">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <select class="form-control" id="food_type" placeholder = "Food type">
                        <option>&nbsp;&nbsp;&nbsp;</option>
                        <option>Asian</option>
                        <option>Italian</option>
                        <option>Chinese</option>
                        <option>French</option>
                        <option>American</option>
                        <option>Indian</option>
                        <option>Mexican</option>
                        <option>Spanish</option>
                        <option>Thai</option>
                        <option>Japanese</option>
                        <option>Vietnamese</option>
                        <option>German</option>
                        <option>Greek</option>
                        <option>Korean</option>
                        <option>Indonesian</option>
                        <option>Fillipino</option>
                        <option>Portuguese</option>
                        <option>Mediterranean</option>
                        <option>Irish</option>
                        <option>Russian</option>
                        <option>Polish</option>
                        <option>Brazilian</option>
                        <option>Jamican</option>
                    </select>
        </div>
        <div class="form-group mx-sm-3 mb-1">
            <button type="submit" class="button btn-site">Search</button>
        </div>
        </form>
        <div id="warning" class="warning">
            <p>* Both the fields are mandatory</p>
        </div>
    </div>
    </div>
    <div class="cover-img cover-img__b"></div>
    <div class="cover-img cover-img__a"></div>

</div>


<div class="panel panel-body" id="resultPanel">
    <div class="searchResultTitleDiv">
        <p id="searchResultTitle"><span id="searchFoodType"></span> Results: <span id="searchLocation"></span></p>
    </div>
    <div id="test" class="row"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script src="js/NOSlideShow.js"></script> 
<script>
//
//    var reverse = anime({
//        targets: '.searchResultTitleDiv  #searchResultTitle',
//       translateX: 10,
//       direction: 'reverse',
//      loop: true
//

var mySlideShow = new SlideShow('projectSlides');
    mySlideShow.container.label = $(".cover-subtitle");
    mySlideShow.container.image = $(".cover-img.cover-img__a");
    mySlideShow.container.background = $(".cover-img.cover-img__b");
  // Set Slides.
  mySlideShow.setSlides([{name: 'This Works', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k1.jpg?raw=true'},
                         {name: 'Second Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k2.jpg?raw=true'},
                         {name: 'Third Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k3.jpg?raw=true'},
                         {name: 'Fouth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k4.jpg?raw=true'},
                         {name: 'Fifth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k5.jpg?raw=true'},
                         {name: 'Sixth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k6.jpg?raw=true'}
						            ]);
  // Display first slide.
  mySlideShow.displaySlide();
  // Loop slides.
  var showInterval = setInterval("mySlideShow.advanceSlide()", 8000);
</script>

<script>
    function getSearchParameters(event){
        event.preventDefault();

        var location = $("#location").val().trim();
        var food_type = $("#food_type").val().trim();
        if ( location == "" || food_type ==""){
            $(".warning").show();
        }else{
        //$("#searchPanel").hide();
        $("#resultPanel").show();
        $("#searchFoodType").html(food_type);
        $("#searchLocation").html(location);


        var searchParams = {
            location : location,
            food_type : food_type
            }

        var searchQuery = '/searchResults/' + searchParams.location + '/' + searchParams.food_type;

        console.log("SEARCH QUERY!", searchQuery);

                                      

        $.get('/searchResults/' + searchParams.location + '/' + searchParams.food_type).then(function (data) {
                                                        
            //window.location.href="/searchResults/:location/:food_type";

            $("#test").empty("");



           $('html, body').animate({
              scrollTop: $("#resultPanel").offset().top
            }, 1000);

            for(var i = 0; i < data.length; i++){
                $("#test").append($('<div class="resultBox">' +
                                    '<div class="resultBoxImage">' +
                                         '<img src=" ' + data[i].url + ' " class="img-responsive resultImageStyle"></div>' +
                                    '<div class="resultBoxInfo">' +
                                        '<p>' + data[i].food_name + '<span id="price"> ($' + data[i].price + ')</span></p>' +
                                         '</p><p><a href="/order/' + data[i].id + '"><button class="button btn-site moreInfo">More Info</button></a></p></div></div'));
            }
        });
        }
    }


   $("form").on("submit", getSearchParameters);
</script>

