<div class="mainBody">
    <header>
        <div class="headerOptions">
            <div class="register">
                <a href="">Register</a>
            </div>
            <div class="logIn">
                <a href="">Login</a>
            </div>
        </div>
    </header>

    <div class="search-frm" style="text-align: left;">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" placeholder="Location" id="location" class="form-control">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <select class="form-control" id="food_type" placeholder="Food type">
                    <option>&nbsp;&nbsp;&nbsp;</option>
                    <option>Asian</option>
                    <option>Italian</option>
                    <option>Chinese</option>
                    <option>French</option>
                    <option>American</option>
                    <option>Indian</option>
                    <option>Mexican</option>
                    <option>Spanish</option>
                    <option>Thai</option>
                    <option>Japanese</option>
                    <option>Vietnamese</option>
                    <option>German</option>
                    <option>Greek</option>
                    <option>Korean</option>
                    <option>Indonesian</option>
                    <option>Fillipino</option>
                    <option>Portuguese</option>
                    <option>Mediterranean</option>
                    <option>Irish</option>
                    <option>Russian</option>
                    <option>Polish</option>
                    <option>Brazilian</option>
                    <option>Jamican</option>
                </select>
            </div>
            <div class="form-group mx-sm-3 mb-1">
                <button id="search-btn" type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
        <div id="warning" class="warning">
            <p> * Both the fields are mandatory</p>
        </div>
    </div>
    <div class="cover-img cover-img__b"></div>
    <div class="cover-img cover-img__a"></div>
</div>

<div class="resultsCtn">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="panel panel-body col-lg-6 col-md-6 col-sm-6 imagePanel">
                    <img src="">
                </div>
                <div class="panel panel-body col-lg-6 col-md-6  col-sm-6 infoPanel">
                    <p> Food Name : <span id="food_name"></span></p>
                    <p> Food Type : <span id="food_type"></span></p>
                    <p> Price : <span id="price"></span></p>
                    <p> Seller Name : <span id="seller_name"></span></p>
                    <p> Seller Location : <span id="seller_location"></span></p>
                    <p> Delivery Available : <span id="Delivery"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/NOSlideShow.js"></script> 
<script>
var mySlideShow = new SlideShow('projectSlides');
    mySlideShow.container.label = $(".cover-subtitle");
    mySlideShow.container.image = $(".cover-img.cover-img__a");
    mySlideShow.container.background = $(".cover-img.cover-img__b");
  // Set Slides.
  mySlideShow.setSlides([{name: 'This Works', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k1.jpg?raw=true'},
                         {name: 'Second Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k2.jpg?raw=true'},
                         {name: 'Third Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k3.jpg?raw=true'},
                         {name: 'Fouth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k4.jpg?raw=true'},
                         {name: 'Fifth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k5.jpg?raw=true'},
                         {name: 'Sixth Slide', image: 'https://github.com/jameskendallbruce/Project2/blob/initialFiles/public/images/k6.jpg?raw=true'}
						            ]);
  // Display first slide.
  mySlideShow.displaySlide();
  // Loop slides.
  var showInterval = setInterval("mySlideShow.advanceSlide()", 8000);

//Input Search Parameters
      function getSearchParameters(event){
        event.preventDefault();
        
        var location = $("#location").val().trim();
        var food_type = $("#food_type").val().trim();
        if ( location == "" || food_type ==""){
            $(".warning").show();
        }else{
        var searchParams = {
            location : location,
            food_type : food_type
            }
        var searchQuery = '/searchResults/' + searchParams.location + '/' + searchParams.food_type;
        console.log("SEARCH QUERY!", searchQuery);
        $.get('/searchResults/' + searchParams.location + '/' + searchParams.food_type).then(function (data) {
            console.log("DATA!", data);
            //window.location.href="results";
            $("#test").append("Hello");
           
        });
        }

    }
    $("button").click(function() {
    $('html,body').animate({
        scrollTop: $(".resultsCtn").offset().top},
        'slow');
});

   $("form").on("submit", getSearchParameters);

//Post Results in resultsCtn

$("#search-btn").on("click", function() {
      var searchedCharacter = $("#character-search").val().trim();

      // Using a RegEx Pattern to remove spaces from searchedCharacter
      // You can read more about RegEx Patterns later https://www.regexbuddy.com/regex.html
      searchedCharacter = searchedCharacter.replace(/\s+/g, "").toLowerCase();

      $.get("/api/characters/" + searchedCharacter, function(data) {
        console.log(data);
        if (data) {
          $("#stats").show();
          $("#name").text(data.name);
          $("#role").text(data.role);
          $("#age").text(data.age);
          $("#force-points").text(data.forcePoints);
        }
        else {
          $("#name").text("The force is not strong with this one. Your character was not found.");
          $("#stats").hide();
        }
      });
    });

</script>

