<style>

    header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 30px 10px 10px 10px;
}

    .optionIcons{
        text-align: center;
        margin-top: 60px;
    }

    .userInfoIcon{
        padding: 5px 5%;
    }
    .newListingIcon{
        padding: 5px 5%;

    }
    .btn-success{
        margin-top: 15px;
    }

    .btnsAndIcons{
        text-align: center
    }

    .btn-site{
        margin-top: 25px;
    }

      #greetUserDiv{
        font-size: 40px;
        color: rgb(72, 72, 72) !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        line-height: 40px;
        text-align: center;
        font-weight: bolder;
        padding: 30px;
    }

    .row {
            display:flex;
            justify-content: center;
        }

</style>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Merriweather:700" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>

     <header>
    <a href="/"><img height="100" widht="100" src="https://preview.ibb.co/gjeVs9/homebtn.png" alt="homebtn" border="0"></a>
</header>

    <div id="greetUserDiv">
        <p id="greetUser"><span id="greeting"></span>! What would you like to do today?</p>
    </div>

        <div class="row optionIcons">
            <div class="userInfoIcon">
                <div class="btnsAndIcons">
                    <img height="200" widht="200" src="https://image.ibb.co/cxqANz/user_Image.png">
                    <p><a><button class="button btn-site" disabled>Edit my Account</button></a></p>
                </div>
            </div>
            <div class="newListingIcon">
                <div class="btnsAndIcons">
                    <img height="200" widht="200" src="https://preview.ibb.co/dvqo9e/create_New_Listing.png" alt="create_New_Listing">
                    <p><a href="/imageUpload"><button class="button btn-site" id="createNewListing">Create New Listing</button></a></p>
                </div>
            </div>
        </div>

<script>
    //################################# test


 //   var reverse = anime({
 //       targets: '#greetUserDiv #greetUser',
  //      translateX: 10,
  //      direction: 'reverse',
 //       loop: true
 //   });

    //################################# test

    var today = new Date();
    var time = today.getHours();

    if(time >= 0 && time < 12 ){
         greeting = "Good Morning";
         $("#greeting").html(greeting);
    }else if( time >= 12 && time < 17){
         greeting = "Good Afternoon";
         $("#greeting").html(greeting);
    }else{
         greeting = "Good Evening";
         $("#greeting").html(greeting);
    }
</script>