html {
  font-family:sans-serif;
  font-size:18px;
  color: rgb(72, 72, 72) !important;
  padding: 0 0px;
  margin: 0 auto;
}

body {
  margin:0px;
  font-size:18px;
  line-height:27px;
  font-weight:400; 
  background-color:#f1f1f1;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
}

/* ----------
site-wide*/

.btn-site {
   color: rgb(72, 72, 72);
    background-color: lavender;
    border-color: rgb(72, 72, 72);
  }
  .button {
      display: inline-block;
      font-weight: 800;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid rgb(72, 72, 72);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: none !important;
  }

  .btn-site:hover {
    color: lavender;
    background-color: rgb(72, 72, 72);
    border-color:lavender;
}


/* -----------
Background */
.cover-body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.cover-body:before {
  content: '';
  position: absolute;
  top: -80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
}

.browser-ie .cover-body:before {
  top: 0;
  background: rgba(0,0,0,0.5)
}

.cover-actions {
  /*padding-top:20px;*/
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.3);
}

/* .cover-body-inner */	

.cover-body-inner {
  position: relative;
  z-index: 100;
  /*background-color:rgba(0,0,0,0.20);*/
  width:50%;
  margin:0 auto;
}

/* .cover */


.cover {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: black;
}
  /* .cover-img */
      
  
  .cover-img {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center
  }
  
  .cover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset-1px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset-1px 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset-1px 0 0 rgba(0, 0, 0, 0.3);
  }


/* Background END
----------- */



/* 
-------------------
searchFood 
-------------------
*/

    /* Header */

    header {
      position: relative;
      z-index: 100;
      display:flex;
      justify-content: flex-end;
      width:100%;
      padding:30px 10px;
  }
  
  .headerOptions{
      display:flex;
      flex-direction:row;
      color:#484848;
      font-weight:bold;
      font-size:4vw;
      text-shadow: 1px 1px #ffffff;
  }
  
  .headerOptions div {
      padding:0 10px;
  }
  
  /* form */
  
  .formRow {
      display:flex;
      flex-direction:row;
  }
  
  .location {
      width:300px;
      padding:0 20px;
  }
  
  .foodRequest {
      width:250px;
      padding:0 20px;
  }


/* -----------
Search Bar */

.form-inline {
  display:flex;
  justify-content: center;
}

.search-frm {
  position: relative;
  z-index: 100;
  margin-top: 180px;
  text-align: center;
}

.warning{
  margin-top: 10px;
  color: red;
  display: none;
}

/* Search Bar
----------- */

.list-group-item {
  line-height: 2.5;
}

#warningAllFieldsRequired{
    margin-top: 10px;
    display: none;
    color: red;
}
#priceDataType{
    margin-top: 10px;
    display: none;
    color: red;
}

.newListingForm{
  text-align: center;
  margin-top: 50px;
}

/*Results*/

   
#resultPanel{
  min-height: 1000px;
  margin-top: 650px;
  text-align: center;
  background-color: lavender;

}


@media all and (max-width:600px) {
  header {
    position: relative;
    z-index: 100;
    display:flex;
    justify-content: center !important;
    width:100%;
    padding:30px 10px;
}

  .form-inline {
    display:flex;
    flex-direction:column;
  }

  .search-frm {
    position: relative;
    z-index: 100;
    margin-top: 40px;
  }

  .cover-img {
    height: 60%;
  }

  #resultPanel {
    margin-top: 300px;
    text-align: center;
    background-color: lavender;
}


.resultBox{
  margin: 15px;
  margin-left: 60px; 
  border-radius: 2%;
  background-color: #ebebeb;
  padding-top: 25px;

}

@media screen and (min-width:601px) {

  #resultPanel {
    margin-top: 2000px;
}

}




/* 
-------------------
searchFood  END ////
-------------------
*/